{% extends 'music/base.html' %}
{% block title %}Register{% endblock %}


{% block javascript %}
<script>
 $("#id_username").change(function () {
   var form = $(this).closest("form");
   $.ajax({
     url: form.attr("data-validate-username-url"),
     data: form.serialize(),
     dataType: 'json',
     success: function (data) {
       if (data.is_taken) {
         alert(data.error_message);
       }
     }
   });

 });
</script>
{% endblock %}


{% block body %}
  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-12 col-md-7">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Create a New Account</h3>
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" data-validate-username-url="{% url 'music:validate_username' %}">
                {% csrf_token %}
                {% include 'music/form-template.html' %}
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
